[submodule "seos_sandbox"]
	path = seos_sandbox
	url = ../../seos/sandbox.git
[submodule "ta/tests"]
	path = ta/tests
	url = ../../ta/seos_tests.git
[submodule "ta/common"]
	path = ta/common
	url = ../../ta/common.git
[submodule "src/tests/test_proxy_nvm"]
	path = src/tests/test_proxy_nvm
	url = ../../ss/test_proxy_nvm.git
[submodule "src/tests/test_keystore"]
	path = src/tests/test_keystore
	url = ../../ss/test_keystore.git
[submodule "src/tests/demo_keystore"]
	path = src/tests/demo_keystore
	url = ../../ss/demo_keystore.git
[submodule "src/tests/demo_preprovisioned_keystore"]
	path = src/tests/demo_preprovisioned_keystore
	url = ../../ss/demo_preprovisioned_keystore.git
[submodule "src/tests/test_crypto_api"]
	path = src/tests/test_crypto_api
	url = ../../ss/test_crypto_api.git
[submodule "src/tests/demo_fs_as_libs"]
	path = src/tests/demo_fs_as_libs
	url = ../../ss/demo_filesystem_as_lib_pm_as_lib.git
[submodule "src/tests/demo_fs_as_components"]
	path = src/tests/demo_fs_as_components
	url = ../../ss/demo_filesystem_as_component_pm_as_component.git
[submodule "src/tests/test_seos_filestream"]
	path = src/tests/test_seos_filestream
	url = ../../ss/test_seos_filestream.git
[submodule "src/tests/test_network_api"]
	path = src/tests/test_network_api
	url = ../../ss/test_network_api.git
[submodule "src/tests/test_tls_api"]
	path = src/tests/test_tls_api
	url = ../../ss/test_tls_api.git
[submodule "src/tests/demo_configuration_as_lib"]
	path = src/tests/demo_configuration_as_lib
	url = ../../ss/demo_configuration_as_lib.git
[submodule "src/tests/demo_configuration_as_component"]
	path = src/tests/demo_configuration_as_component
	url = ../../ss/demo_configuration_as_component.git
[submodule "src/tests/test_chanmux"]
	path = src/tests/test_chanmux
	url = ../../ss/test_chanmux.git
[submodule "src/tests/test_cryptoserver"]
	path = src/tests/test_cryptoserver
	url = ../../ss/test_cryptoserver.git
[submodule "src/tests/demo_partition_manager"]
	path = src/tests/demo_partition_manager
	url = ../../ss/demo_partition_manager.git
[submodule "src/tests/test_partition_manager"]
	path = src/tests/test_partition_manager
	url = ../../ss/test_partition_manager.git
[submodule "src/tests/test_filesystem_as_lib"]
	path = src/tests/test_filesystem_as_lib
	url = ../../ss/test_filesystem_as_lib.git
[submodule "src/tests/test_config_server"]
	path = src/tests/test_config_server
	url = ../../ss/test_config_server.git
[submodule "src/tests/test_config_server_fs_backend"]
	path = src/tests/test_config_server_fs_backend
	url = ../../ss/test_config_server_fs_backend.git
[submodule "src/tests/test_logserver"]
	path = src/tests/test_logserver
	url = ../../ss/test_logserver.git
[submodule "src/demos/demo_iot_app"]
	path = src/demos/demo_iot_app
	url = ../../ss/demo_iot_app.git
[submodule "src/demos/demo_hello_world"]
	path = src/demos/demo_hello_world
	url = ../../ss/demo_hello_world.git
[submodule "src/tests/test_tlsserver"]
	path = src/tests/test_tlsserver
	url = ../../ss/test_tlsserver.git
[submodule "src/tests/test_cert_lib"]
	path = src/tests/test_cert_lib
	url = ../../ss/test_cert_lib.git
[submodule "src/tests/test_entropysource"]
	path = src/tests/test_entropysource
	url = ../../ss/test_entropysource.git
[submodule "src/tests/test_storage_interface"]
	path = src/tests/test_storage_interface
	url = ../../ss/test_storage_interface.git
