[submodule "kernel"]
	path = kernel
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/sel4.git
	branch = master
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/musllibc.git
	branch = sel4
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/util_libs.git
	branch = master
[submodule "tools/seL4"]
	path = tools/seL4
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/sel4_tools.git
	branch = master
[submodule "projects/sel4_libs"]
	path = projects/sel4_libs
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/sel4_libs.git
	branch = master
[submodule "tools/camkes"]
	path = tools/camkes
	url = ssh://git@bitbucket.hensoldt-cyber.systems:7999/ext/camkes-tool.git
	branch = master
