[submodule "sdk"]
	path = sdk
	url = ../sdk.git
[submodule "ta/tests"]
	path = ta/tests
	url = ../tests.git
[submodule "ta/common"]
	path = ta/common
	url = ../common.git
[submodule "src/tests/test_proxy_nvm"]
	path = src/tests/test_proxy_nvm
	url = ../test_proxy_nvm.git
[submodule "src/tests/test_keystore"]
	path = src/tests/test_keystore
	url = ../test_keystore.git
[submodule "src/tests/test_crypto_api"]
	path = src/tests/test_crypto_api
	url = ../test_crypto_api.git
[submodule "src/tests/test_network_api"]
	path = src/tests/test_network_api
	url = ../test_network_api.git
[submodule "src/tests/test_tls_api"]
	path = src/tests/test_tls_api
	url = ../test_tls_api.git
[submodule "src/tests/test_chanmux"]
	path = src/tests/test_chanmux
	url = ../test_chanmux.git
[submodule "src/tests/test_cryptoserver"]
	path = src/tests/test_cryptoserver
	url = ../test_cryptoserver.git
[submodule "src/tests/test_config_server"]
	path = src/tests/test_config_server
	url = ../test_config_server.git
[submodule "src/tests/test_logserver"]
	path = src/tests/test_logserver
	url = ../test_logserver.git
[submodule "src/demos/demo_iot_app"]
	path = src/demos/demo_iot_app
	url = ../demo_iot_app.git
[submodule "src/demos/demo_hello_world"]
	path = src/demos/demo_hello_world
	url = ../demo_hello_world.git
[submodule "src/tests/test_tlsserver"]
	path = src/tests/test_tlsserver
	url = ../test_tlsserver.git
[submodule "src/tests/test_entropysource"]
	path = src/tests/test_entropysource
	url = ../test_entropysource.git
[submodule "src/tests/test_storage_interface"]
	path = src/tests/test_storage_interface
	url = ../test_storage_interface.git
[submodule "src/demos/demo_iot_app_hw"]
	path = src/demos/demo_iot_app_hw
	url = ../demo_iot_app_hw.git
[submodule "src/tests/test_filesystem"]
	path = src/tests/test_filesystem
	url = ../test_filesystem.git
[submodule "src/tests/test_uart"]
	path = src/tests/test_uart
	url = ../test_uart.git
[submodule "src/tests/test_uart_echo"]
	path = src/tests/test_uart_echo
	url = ../test_uart_echo.git
[submodule "src/native/sel4test/src"]
	path = src/native/sel4test/src
	url = ../sel4test.git
[submodule "src/tests/test_timeserver"]
	path = src/tests/test_timeserver
	url = ../test_timeserver
[submodule "src/tests/test_certparser"]
	path = src/tests/test_certparser
	url = ../test_certparser.git
[submodule "src/demos/demo_tls_api"]
	path = src/demos/demo_tls_api
	url = ../demo_tls_api.git
[submodule "src/tests/test_certserver"]
	path = src/tests/test_certserver
	url = ../test_certserver.git
[submodule "src/demos/demo_network_filter"]
	path = src/demos/demo_network_filter
	url = ../demo_network_filter.git
[submodule "src/native/sel4bench/src"]
	path = src/native/sel4bench/src
	url = ../sel4bench.git
[submodule "src/demos/demo_vm_minimal"]
	path = src/demos/demo_vm_minimal
	url = ../demo_vm_minimal.git
[submodule "src/demos/demo_vm_serialserver"]
	path = src/demos/demo_vm_serialserver
	url = ../demo_vm_serialserver.git
[submodule "src/demos/demo_vm_virtio_net"]
	path = src/demos/demo_vm_virtio_net
	url = ../demo_vm_virtio_net.git
[submodule "src/demos/demo_mailbox_rpi"]
	path = src/demos/demo_mailbox_rpi
	url = ../demo_mailbox_rpi.git
